<!doctype html >
<html lang="en" ng-app="europrices">
	<head>
		<meta charset="UTF-8"> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-route.min.js"></script>		
		<script src="/js/europrices.js"></script>		
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	</head>
	<body style="font-family: 'Ubuntu', cursive;" >
		
		<div ng-view>
		
			<div ng-controller="SearchController">
		
				<div style="text-align: center; margin: auto auto 4em auto; background-color: blue;">
					<div style="color: blue; font-size: xx-large; color: yellow;">europrices</div>
					<div style="font-size: small; color: yellow;">spot the best mobile prices in the eurozone</div>
				</div>
				
				<div style="text-align: center; margin: auto;">
					<form>
						<input type="search" placeholder="samsung, galaxy..."  ng-model="searchTerms" /><button ng-click="onSearch()">search</button>
					</form>
				</div>


				<div style="margin: auto;">
					<table ng-if="productItemsHaveBeenFound()" style="margin: auto;">
						<thead>
							<tr>
								<td>Item</td>
								<td>Shop</td>
								<td>Price</td>
								<td>Translate</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in foundProductItems">
								<td>
									<a href="{{item.detailsUrl}}">{{item.name}}</a>
								</td>
								<td>
									{{item.shop.name}}
								</td>
								<td>
									{{item.priceInEuroCent/100 | currency:"€"}}
								</td>
								<td>
									<a target="_blank" href="http://translate.google.com/translate?js=n&sl=auto&tl=it&u={{item.detailsUrl}}">google</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
		
		
		
		<footer style="margin: 4em auto auto auto; text-align: center;">
			Brought to you by <a target="_blank" href="http://www.danidemi.com">Studio Danidemi</a>
		</footer>
		
	</body>
</html>