<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<withJansi>false</withJansi>
		<encoder>
			<pattern>%d{dd HH:mm:ss.SSS} [%t] [%-5p] %m - %logger %F:%L%n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>
	
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="ALL" />
	<logger name="org.eclipse.jetty" level="INFO" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.flywaydb" level="INFO" />
	
</configuration>