@colorBase: #DDD;

body {
	margin: 0;
	border: none;
}

DIV#logo {
	background-color: @colorBase;
	color: blue;
	padding: 1em;
	font-size: 1em;
	padding: 1em;
	height: 2em;	
}

DIV#logo DIV:FIRST-CHILD {
	float: left;
	font-size: 2em;
	margin-right: 0.2em;
	text-transform: capitalize;
	font-weight: bolder;
}

DIV#logo DIV:LAST-CHILD {
	float: left;
	margin-right: 0.2em;
}

#search-box {
	margin: 2em auto 2em auto;
	text-align: center;
}

#results {
	width: 70%;	
	margin-right: auto;
	margin-left: auto;
}

#resultLang {
	text-align: right;
}

th {
	text-align: left;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	margin: 0;
	padding: 0;
}

tr:hover {
	background-color: @colorBase;
}

footer {
	position: fixed;
	bottom: 0;
	font-size: 1em;
	margin: auto;
	text-align: center;
	width:100%;
	background-color: @colorBase;
	padding: 1em;
}

