@border-radius: 2em;

@colorBase: #4636FF;
@colorDistance: 90;
@color1: @colorBase;
@color2: spin(@colorBase, @colorDistance);
@color3: spin(@colorBase, 180);
@color4: spin(@colorBase, (180 + @colorDistance));

@width: 45em;

.outline(){
	border: 1px solid black;
}

BODY {
	font-family: 'Ubuntu', cursive;
	margin: 0;
}

#logo {
	text-align: center; 
	margin: auto auto 4em auto; 
	background-color: @color1;
}

#logo DIV:first-child {
	color: @color3; 
	font-size: xx-large; 
	color: yellow;
}

#logo DIV:last-child {
	color: @color3;
	font-size: small; 
}

#search-box {
	text-align: center;
}

#search {
	text-align: center; 
	margin: 0;
	border:0.2em solid darken(@color2, 20%);
	padding: @border-radius * .2;
	display: inline-block;
	border-bottom-left-radius: @border-radius * 2;
	border-bottom-right-radius: @border-radius * 2;
	border-top-right-radius: @border-radius * 2;
	border-top-left-radius: @border-radius * 2;
}



#search input {
	margin: 0;
	padding: 0.2em;
	font-size: 2em;	
	border: 0;	
}

#search-clear {
	
	border-bottom-left-radius: @border-radius;
	border-top-left-radius: @border-radius;
	
    margin: 0;
    font-size: 2em;
    padding: 0.2em;
    border: 0;
    background-color: darken(@color2, 20%);
    color: lighten(@color2, 50%);
}

#search-launch {
    margin: 0;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
    border: 0;    
    font-size: 2em;
    padding: 0.2em;	
    background-color: darken(@color2, 20%);
    color: lighten(@color2, 50%);
}

#search-launch:disabled {
	background-color: darken(@color2, 40%);
}

#search-clear:disabled {
	background-color: darken(@color2, 40%);
}

#resultLang {
	width: 45em;
	margin-left: auto; 
	margin-right: auto;	
	margin-top: 2em;
	
	border-top-right-radius: @border-radius;
	border-top-left-radius: @border-radius;	
	border-bottom-left-radius: @border-radius;
	border-bottom-right-radius: @border-radius;
	border:0.2em solid darken(@color2, 20%);
	padding: 0.2em;
	background-color: solid darken(@color2, 20%);
	text-align: right;
	
	select {
		border-bottom-right-radius: @border-radius * 2;
		border-top-right-radius: @border-radius * 2;		
		margin: 0;
		padding: .2em * 2;
		font-size: 2em;	
		border: 0;
		background-color: darken(@color2, 20%);
		color: lighten(@color2, 50%);
	}
}

#results #resultTable {
	.outline();
	width: 45em;
	margin-left: auto; 
	margin-right: auto;	
	margin-top: 2em;
	
	border-bottom-left-radius: @border-radius;
	border-bottom-right-radius: @border-radius;
	// border-top-right-radius: @border-radius;
	// border-top-left-radius: @border-radius;	
	border:0.2em solid darken(@color2, 20%);
	padding: 0.2em;
}

#results #placeholder {
	text-align: center;
	width: 100%;
	margin-top: 5em;
}

TABLE {
	border-spacing: 0;
	width: 100%;
}

TD {
    margin: 0;	
}

THEAD TH {
    background-color: darken(@color2, 20%);
    color: lighten(@color2, 50%);
	text-align: left;
}

THEAD TH:first-child {
	//border-top-left-radius: @border-radius;
}

THEAD TH:last-child {
	//border-top-right-radius: @border-radius;
	text-align: center;
}

TBODY TR:nth-child(even) {
	background: lighten(@color2, 30%);
}

TBODY TR:nth-child(odd) {
	background: lighten(@color2, 30%);
}

TBODY TR:HOVER {
	background: @color2;
	color: lighten(@color2, 40%);
}

TFOOT TH {
    background-color: darken(@color2, 20%);
    color: lighten(@color2, 50%);
}

TFOOT TH:first-child {
	border-bottom-left-radius: @border-radius;
}

TFOOT TH:last-child {
	border-bottom-right-radius: @border-radius;
	margin: 0;
}



FOOTER {
	margin: 4em auto auto auto; 
	text-align: center;
	background-color: #d0d0d0;
	color: black;
}