<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- ============================================================================ -->
<!-- default                                                                      -->
<!-- ============================================================================ -->
<properties>
	<!-- ${VARIABLE} is resolved also against environment variables! -->
	<entry key="europrices.phantomjs.proxy.enabled">false</entry>
	<entry key="europrices.phantomjs.proxy.host">10.1.51.10</entry>
	<entry key="europrices.phantomjs.proxy.port">80</entry>
	<entry key="europrices.phantomjs.executable">/opt/phantomjs/phantomjs/bin/phantomjs</entry>
	<entry key="europrices.phantomjs.port">9090</entry>
	
	<entry key="europrices.http.port">8080</entry>
	<entry key="europrices.http.dirAllowed">false</entry>
	<entry key="europrices.http.virtualHosts">127.0.0.1,localhost</entry>
	<!-- 0.0.0.0 means all available hosts -->
	<entry key="europrices.http.host">0.0.0.0</entry>
	
	<!-- It is possible to bind to the internal IP with port range: 15000 - 35530  -->
	<entry key="europrices.db-engine.port">9050</entry>
	<entry key="europrices.db-engine.address">localhost</entry>
	<entry key="europrices.db.username">europrices-usr</entry>
	<entry key="europrices.db.password">europrices-pwd</entry>
	<entry key="europrices.db.path">/var/misc/europrices/db</entry>
	
	<entry key="europrices.scraping.trigger">trigger1</entry>
</properties>