<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- ============================================================================ -->
<!-- openshift                                                                    -->
<!-- ============================================================================ -->
<properties>
	<!-- ${VARIABLE} is resolved also against environment variables! -->
	<entry key="europrices.phantomjs.proxy.enabled">false</entry>
	<entry key="europrices.phantomjs.proxy.host">0.0.0.0</entry>
	<entry key="europrices.phantomjs.proxy.port">80</entry>
	<entry key="europrices.phantomjs.executable">${OPENSHIFT_DATA_DIR}phantomjs-1.9.7-linux-x86_64/bin/phantomjs</entry>
	<entry key="europrices.phantomjs.port">80</entry>
	
	<entry key="europrices.http.port">${OPENSHIFT_DIY_PORT}</entry>
	<entry key="europrices.http.dirAllowed">false</entry>
	<entry key="europrices.http.virtualHosts">localhost,${OPENSHIFT_DIY_IP},europrices.danidemi.com,${OPENSHIFT_APP_DNS}</entry>
	<!-- 0.0.0.0 means all available hosts -->
	<entry key="europrices.http.host">${OPENSHIFT_DIY_IP}</entry>
	
	<!-- It is possible to bind to the internal IP with port range: 15000 - 35530  -->
	<entry key="europrices.db-engine.port">15000</entry>
	<entry key="europrices.db-engine.address">${OPENSHIFT_DIY_IP}</entry>
	<entry key="europrices.db.username">europrices-usr</entry>
	<entry key="europrices.db.password">europrices-pwd</entry>
	<entry key="europrices.db.path">${OPENSHIFT_DATA_DIR}db</entry>

	<entry key="europrices.scraping.trigger">trigger1</entry>
</properties>