<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================================ -->
<!-- development                                                                  -->
<!-- ============================================================================ -->
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<withJansi>false</withJansi>
		<encoder>
			<pattern>%d{dd HH:mm:ss.SSS} [%t] [%-5p] %m - %logger %F:%L%n</pattern>
		</encoder>
	</appender>
	
	<root level="WARN">
		<appender-ref ref="console" />
	</root>
	
	<logger name="org.springframework.security" level="INFO" />
	<logger name="org.springframework.social" level="WARN" />
	<logger name="org.apache.http" level="ERROR" />
	<logger name="com.danidemi.jlubricant.embeddable.hsql" level="DEBUG" />

	<logger name="com.danidemi.europrice.jetty" level="WARN" />
	<logger name="com.danidemi.europrice.screenscraping.ScrapeContext" level="WARN" />
	<logger name="com.danidemi.jlubricant.embeddable.jetty" level="WARN" />
	
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO" />
	
	<logger name="org.eclipse.jetty" level="WARN" />
	
	<logger name="org.flywaydb" level="WARN" />
	
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate.type" level="ERROR" />	

	
</configuration>